.create-area {
  background-color: rgba(35, 8, 8, 0.9);
  padding: 20px;
  border-radius: 7px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Adds subtle shadow */
}

.input-title,
.input-content {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border: 1px solid rgb(107, 36, 36); /* Lighter border color */
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition on focus */
  font-size: 18px; /* A slightly bigger default size */
  resize: vertical;
}

.input-title:focus,
.input-content:focus {
  border-color: rgb(96, 96, 150); /* Focus state color */
  box-shadow: 0 0 5px rgba(96, 96, 150, 0.5); /* Adds focus shadow */
}

.add-btn {
  display: block;
  margin: 15px auto;
  padding: 12px 25px;
  background-color: #458f0e;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition on hover */
  float: right;
}

.add-btn:hover {
  background-color: #d77375;
}

@media (max-width: 768px) {
  .create-area {
    padding: 15px;
  }

  .input-title,
  .input-content {
    padding: 10px;
    font-size: 18px; /* Adjust size for tablets */
  }

  .add-btn {
    margin: 12px auto;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .create-area {
    padding: 10px;
  }

  .input-title,
  .input-content {
    padding: 8px;
    font-size: 16px;
  }

  .add-btn {
    padding: 8px 15px;
  }
}
