/* Styles for Home Component */

.login-form {
  text-align: center;
  margin-top: 20px;
}

.login-form button {
  background-color: #0074cc; /* Button background color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056a7; /* Button background color on hover */
}
